# Ignore all .nii.gz files everywhere
*.nii.gz

# Ignore prediction results folder
preds_001_fullres/

# Ignore datasets under nnUNetFrame
**/dataset/

montage_*.png
isles_test_eval.csv
scripts/json_*
scripts/preprocess.ipynb